.check {
  color: rgb(228, 168, 15);
}

.description {
  text-align: left;
  padding-left: 10px;
  width: 100%;
  height: 30vh;
  overflow-y: auto;
}

.description div {
  margin-bottom: 15px;
}

.list {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: calc(70vh - 70px);
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.2);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating {
  border: none;
  float: left;
}

.rating > label {
  color: #90a0a3;
  float: right;
}

.rating > label:before {
  margin: 5px;
  font-size: 2em;
  font-family: FontAwesome;
  content: "\f005";
  display: inline-block;
}

.rating > input {
  display: none;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #f79426;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #fece31;
}

.review-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-family: Arial, sans-serif;
}

.review-author {
  font-weight: bold;
  flex: 1;
}

.review-timestamp {
  color: gray;
  font-size: 0.9rem;
  margin-left: 10px;
}

.review-rating {
  display: flex;
  gap: 3px;
}

#data-list {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-review {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 5px 0;
  width: 90%;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.card-review:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
