<div
  class="modal fade"
  id="modal-invitation"
  tabindex="-1"
  aria-hidden="true"
  data-bs-backdrop="static"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Quiz Challenge Invitation</h5>
      </div>
      <div class="modal-body">
        <p>user1 invites you to a quiz challenge. Do you accept?</p>
        <div class="d-flex">
          <button
            type="button"
            class="btn btn-primary flex-fill me-1"
            id="acceptChallengeButton"
            data-status="Accept"
          >
            Yes
          </button>
          <button
            type="button"
            class="btn btn-secondary flex-fill ms-1"
            data-bs-dismiss="modal"
          >
            No
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
